.formGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;

  & + & {
    padding-top: 0.5rem;
  }
}

.fieldLabel {
  padding-bottom: 0.5rem;
}

.input {
  width: 100%;
}
