@import "~@amber-engine/amber-content/lib/styles/variables";

.actionColumnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn {
  text-decoration: none;
  color: $gray;
  outline: none;
  border: none;
  background-color: inherit;

  &:active, &:hover, &:focus {
    text-decoration: none;
    color: $dark-gray;
    outline: none !important;
  }
}

.coralText {
  color: $coral;
}


.iconButton {
  padding-right: 0px;
  padding-left: 16px;
}

.exportDownload {
  font-size: 15px;
  color: $gray;
  border: 1px solid $gray;
  padding: 6px;
  margin-left: 1rem;
  border-radius: 24px;
  line-height: 1;
  cursor: pointer;
  display: block;
  float: right;
  position: relative;
  height: 3rem;
  width: 3rem;

  &:hover {
    border: 3px solid $coral;
    color: $coral;
    padding: 4px;
  }
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
