@import "@amber-engine/amber-content/lib/styles/variables";

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  flex: 1;
  margin-bottom: 1.5rem;
}

.button {
  margin-top: 1rem;
}

.coralText {
  color: $coral;
}
