@import "~@amber-engine/amber-content/lib/styles/variables";

.button {
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.15rem;
  font-weight: bold;
  color: #FFF;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  outline: none;

  background-color: $coral;
  border-color: $coral;

  &:hover {
    background-color: $dark-coral;
    border-color: $dark-coral;
  }
}

.export {
  background-color: $seafoam;
  border-color: $seafoam;

  &:hover {
    background-color: $dark-seafoam;
    border-color: $dark-seafoam;
  }
}

.logout,
.importNew {
  background-color: #FFF;
  border-color: $medium-blackberry;
  color: $medium-blackberry;
  &:hover {
    background-color: $coral;
    border-color: $coral;
    color: #FFF;
  }
}
