@import "~@amber-engine/amber-content/lib/styles/variables";

.pagination {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 0.2rem;
  text-align: center;
  background: #ffffff;
  color: $gray;
  cursor: pointer;

  &:hover {
    background: #f8fcff;
  }
}

.ellipsis {
  background: $light-gray;
  cursor: default;
  letter-spacing: 2px;
  &:hover {
    background: $light-gray;
  }
}

.chevronInactive {
  background: #fafafa;
}

.active {
  color: $coral;
}
